#kaocha/v1
 {:kaocha.plugin.capture-output/capture-output? true
  :kaocha.plugin.junit-xml/target-file "target/junit.xml"
  :kaocha.plugin.profiling/profiling? false
  :plugins [:kaocha.plugin/junit-xml
            :kaocha.plugin/print-invocations
            :kaocha.plugin/profiling]
  :tests [{:id :tests
           :source-paths ["src"]
           :test-paths ["test"]}]}
